<template name="passwordResetForm">
    <div id="reset-error">
        Sorry, we couldn't reset your password.  Please try again.
    </div>
    <div id="reset-success">
        Thanks, your password has been reset.  You can now login with the new password.
    </div>
    <form id="passwordResetForm" action="#" method="POST">
        <label for="password">New Password:
            <input type="password" name="password" id="reset-password" placeholder="Password" />
        </label>
        <label for="confirmPassword">Confirm Password:
            <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password" />
        </label>
        <input type="submit" value="Reset Password" />
    </form>
</template>